body {
  margin: 0;
}

.parent {
  /* justify-content: center;  */
  /* used most in projects, it centers the children horizontally within the parent container */
  /* padding: 10px; */
  /* border: 4px solid indianred; */
  display: flex;
  /* allign-items: stretch; */
  justify-content: space-between;
  /* creates space between the children (span, p, a) and pushes them to the edges of the parent container */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  align-items: center;
  /* used most in projects, it centers the children vertically within the parent container */
  /* justify-content: space-between; */
  height: 50vh;
  /* makes the children (span, p, a) block-level elements that can be arranged in a row */
  /* all children became flex items, and the width and height properties can be applied to them */
  /* flex-direction: row-reverse; */
  /* changes the direction of the flex items to be in reverse order (from right to left) instead of the default (from left to right) */
  flex-direction: column;
  /* changes the direction of the flex items to be in a column (from top to bottom) instead of the default row (from left to right) now height and width properties are swapped so width becomes height and height becomes width */
}

* {
  box-sizing: border-box;
}

.parent span {
  /* border: 4px solid cadetblue; */
  background-color: cadetblue;
  /* flex-grow: 1; */
  /* flex-shrink: 0; */
  /* width: 200px; */
  /* height: 150px; */
  /* width and height properties only work on block-level elements, not on inline elements like span */
  /* however flexbox can change the behavior of inline elements, allowing them to be treated as block-level elements when they are direct children of a flex container */
}

.parent p {
  /* border: 4px solid darkkhaki; */
  background-color: darkkhaki;
  margin: 0;
  width: 400px;
  /* width: max-content; */
  /* flex-shrink: 0; */
  /* can also use min-width: 400px; instead of using shrink */
  /* flex-grow: 1; */
}

.parent a {
  /* border: 4px solid yellowgreen; */
  background-color: yellowgreen;
  /* flex-shrink: 0; */
  width: 400px;
  height: 150px;
  /* flex-grow: 1; */
}

/* difference between allign-items and justify-content:
- align-items: controls the vertical alignment of the children within the parent container.
- justify-content: controls the horizontal alignment of the children within the parent container. */

/* padding and border properties do not affect the size of the flex items, but they do affect the overall size of the parent container. The parent container will expand to accommodate the padding and border of its children, but the size of the flex items themselves will not change. */
