body {
    position: relative;
}

div {
    position: relative;
    background-color: lime;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
}

ul {
    position: relative;
    /* Positioned relative to its normal position */
    background-color: brown;
    /* top: 50px; */
    height: 300px;
    overflow-y: scroll;
    margin-top: -100px;
}

.CSS_element {
    background: linear-gradient(to right, purple, aqua);
    position: absolute;
    /* Positioned relative to its nearest positioned ancestor (body in this case) */
    top: 56px;
    /* Moves down 5px from the top of its nearest positioned ancestor */
    left: 5px;
    right: 5px;
    /* bottom: 5px; */
    /* inset: 50px; */
}

.js_element {
    position: fixed;
    /* Stays fixed relative to the viewport */
    top: 10px;
    left: 10px;
    right: 10px;
    background-color: orange;
}

.html_element {
    position: sticky;
    /* Sticks to the top of the viewport when scrolled past */
    background-color: darkkhaki;
    top: 25px;
}

main{
    overflow-y: scroll;
}


/* Recovering streak */
