li {
    font-weight: 700;
    font-size: 32px;
}
.html {
    color: #DD4B25;
}
.css {
    color: #306AF1;
} 
.Js {
    color: #F7E024;
} 
.React {
    color: #11DAFE;
} 
.Tailwind {
    color: #3EBFF8;
} 
#html {
    font-size: 30px;
}
#css {
    color: hotpink;
}

.web p {
    background-color: green;
}

h1:hover {
    color: blue;
}
 .paragraph:hover {
    color: orange;
}
/* hover on paragraphy */
