.square {
    background-color: black;
    width: 300px;
    height: 300px;
    border: 25px solid blue;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}

/* media is of two types: screen and print */

@media print and  (min-width: 500px ) {
    .square {
        border: 25px solid red;
        background-color: hotpink;
    }
}    
/* @media  (max-width: 700px ) {
    .square {
        border: 25px solid red;
        background-color: hotpink;
    } 
}  */
    /* This is media level 3 syntax. It is supported in all browsers, including Internet Explorer. */


/* @media  (500px <= width <= 700px) {
    .square {
        border: 25px solid red;
        background-color: hotpink;
    }
} */
/* This is media level 4 syntax. It is supported in all modern browsers, but not in Internet Explorer. */
    

/* media type is written simply after @media keyword whereas media feature is written inside parentheses. And these two combines to make a media query */