.parent {
    background-color: red;
}
.one {
    width: 300px;
    background-color: aquamarine;
    padding: 25px;
    width: 50%;
    /*Depends on parent width  */
    height: 300px;
    padding: 10px;
    /* OverFlow */
    /* word-break: break-all; */
    border: 50px solid teal;
    box-sizing: border-box;
}
.two {
    background-color: blueviolet;
}
