/* Universal selector. */
* { 
    box-sizing: border-box;
}
body {
    margin: 0;
}
h1 {
    text-align: center;
    margin: 0;
}

.one {
    width: 300px;
    background-color: aquamarine;
    padding: 25px;
    /* OverFlow */
    /* word-break: break-all; */
    margin: 40px;
    border: 4px solid teal;
    box-sizing: border-box;
    border-radius: 10px;
}
.two {
    background-image: linear-gradient(to right, #362B4E, #95496B);
    width: 300px;
    height: 300px;
    padding: 25px;
    margin: 40px;
    border: 8px solid hotpink;
    border-radius: 50%;
    overflow: hidden;
    outline: 5px solid orange;
}
/* Image styling */
img {
    width: 100%;
    margin-top: -36px;
    margin-left: -10px;
}



/* Recovering streak */
/* Recovering streak  */