html {
    width: 400px;
}

body {
    margin: 0;
    width: 600px;
}

.box {
    width: 50%;
    background: linear-gradient(to right, red,yellow);
    padding: 24px;
    box-sizing: border-box;
    /* border: 10px solid black; */
    /* font-size: 0.5%; 200% of the parent element's font size */
}
section {
    background-color: blue;
    width: 50vw;
    padding: 10vw;
    margin: 10vw;
    border: 1vw solid green;
    font-size: 4vw;
    /* width: 400px;
    padding: 10%; /* 10% of the width of the parent element */
    /* margin: 5%;  5% of the width of the parent element */
    /* box-sizing: border-box; */
    /* font-size: 32px; */

}